.background {
  width: 100vw;
  height: 100vh;
  max-height: 1020px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../../assets/welcom-background.webp') no-repeat center center / cover;
  color: #fff;
  padding: 0 20px;

  h1 {
    margin-top: 20px;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
  }

  p {
    max-width: 872px;
    margin: 10px 0 40px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  a {
    text-decoration: none;
    background: #11555f;
    padding: 12px 25px;
    border-radius: 60px;
    font-weight: 400;
    font-size: 18px;
    color: #fff;

    &:visited {
      color: inherit;
    }

    &:hover {
      background: #081f32;
    }
  }

  img:last-of-type {
    max-width: 100%;
    height: auto;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 28px;
      line-height: 36px;
    }

    p {
      font-size: 16px;
      line-height: 26px;
      margin: 10px 0 30px;
    }

    img:last-of-type {
      width: 80%;
    }
  }

  @media (max-width: 480px) {
    h1 {
      font-size: 22px;
      line-height: 30px;
    }

    p {
      font-size: 14px;
      line-height: 22px;
    }

    a {
      font-size: 16px;
      padding: 10px 20px;
    }

    img:last-of-type {
      width: 90%;
    }
  }
}
