p {
  margin: 20px 0px;
}

button {
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 10px 35px;

  background: #845ec2;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  background: var(--bg-primay);
  color: var(--primay);
}

.App-link {
  color: #61dafb;
  color: var(--link);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.horizontal {
  width: 135px;
  height: 50px;

  background: url(../src/image/Horizontal.png);
}

.hideWindow {
  display: none;
}

.search_input {
  width: 500px;
  height: 60px;
  background: #081f32;
  border: 2px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 18px;
  padding-left: 64px;
  color: #ffffff;
}

.search_icon {
  position: absolute;
  left: 0px;
  margin-left: 15px;
  margin-top: 16px;
  background: transparent;
}

.navigate {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #bdbdbd;
  background: #f2f2f2;
}

.buttn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
  width: 162px;
  height: 80px;
}

.buttnHover {
  display: flex;
  align-items: center;
  border: 0px;
  justify-content: center;
  width: 162px;
  height: 80px;
  border-bottom: 3px solid #34c759;
}

.buttn:hover {
  border-bottom: 3px solid #c2edcd;
}

.footer {
  height: 142px;

  background: #081f32;
}

.horizontal {
  width: 100%;
  height: 100%;

  background: url(../src/image/portal-morty-smith-rick.png) no-repeat top center;
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.4);
}

.favoriteButtonback {
  width: 100%;
  height: 100%;
  background-color: white;
}

.favoriteButton {
  margin-left: 150px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.favoritOff {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0px;
  background-color: white;
}

.favoText {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  margin-right: 12px;
  font-size: 14px;
}

.round {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e0e0e0;
}

.round:hover {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #c7c4c4;
  cursor: pointer;
}

.starFav {
  margin-top: 5px;
}

.charcardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: space-between;
  align-items: center;
  padding: 0px 150px;
}

.charDetails {
  height: 140px;
  padding-left: 15px;
  padding-top: 17px;
  overflow: hidden;
}

.charDetails:hover {
  cursor: pointer;
}

.cardBorder {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 10px;
  width: 326px;
  height: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

.charImage {
  position: relative;
  width: 140px;
  height: 140px;
}

.charImg {
  width: 140px;
  height: 140px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.charStatus {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sphereStatus {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #27ae60;
}

.sphereStatusred {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #eb5757;
}

.textStatus {
  padding-left: 6px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: #4f4f4f;
}

.charName {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.textLocation {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: #828282;
  overflow-wrap: break-word;
}

.lastLocation {
  padding-top: 8px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;

  color: #000000;
}

.charFirstseen {
  padding-top: 8px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;

  color: #000000;
}

.starButton {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e0e0e0;
  cursor: pointer;
}

.star {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin-right: 6px;
  margin-bottom: 3px;
  background: transparent;
}

.containerOhno {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 90px;
}

.textUhoh {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #353535;
}

.textLost {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;

  text-align: center;

  color: #5e5e5e;
}

.removeFilter {
  width: 156px;
  height: 44px;
  left: 647px;
  top: 836px;

  margin-top: 20px;

  background: #11555f;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
}

.detailsLayer {
  position: absolute;
  top: 0px;
  width: 100%;
  height: full;
  z-index: +1;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.54);
}

.containerDetails {
  margin-top: 295px;
  width: 740px;
  height: full;
  background: #ffffff;
  border-radius: 10px;
}

.infoPrimary {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 400px;
  width: 100%;
  background: #f2f2f2;
}

.bgImg {
  background: url(../src/image/27345-rick-y-morty.jpg);
  border-radius: 10px 10px 0px 0px;
  height: 220px;
}

.informacion {
  height: full;
  width: 100%;
}

.episodes {
  height: full;
  width: 100%;
}

.personajes {
  height: full;
}
.closet {
  margin-top: 13px;
  margin-right: 13px;
  align-self: flex-start;
  margin-left: auto;
}

.closet:hover {
  cursor: pointer;
}

.infoBasic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: -75px;
}

.infoImg {
  width: 155px;
  height: 155px;
  border: 4px solid #fffbfb;
  border-radius: 50%;
  overflow: hidden;
  align-self: center;
}

.charIm {
  width: 100%;
  height: 100%;
}

.infoText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -15px;
}

.status {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #4f4f4f;
}

.name {
  margin-top: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #081f32;
}

.species {
  margin-top: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #4f4f4f;
}

.textStyle {
  margin-top: 20px;
  margin-left: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #4f4f4f;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-top: 18px;
}

.infoTab {
  background: #ffffff;
  border-radius: 8px;
  width: 163px;
  height: 58px;
  border: 1px solid #bdbdbd;
  overflow: hidden;
}

.ifoSvg {
  margin-left: 12px;
  margin-top: 8px;
}

.titleInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 4px;
}

.infoTabText {
  margin-left: 4px;
  margin-top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: inherit;
  font-size: 11px;
  letter-spacing: 0.07px;
  color: #828282;
}

.tabs {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.infoTabTextDetails {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  margin-left: 14px;
  color: #081f32;
}

.borderLine {
  border-bottom: 1px solid #e0e0e0;
  height: 30px;
  width: 670px;
  margin: auto;
}

.episodeTabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
}

.infEpisoTab {
  background: #ffffff;
  border-radius: 8px;
  width: 163px;
  height: 72px;
  border: 1px solid #bdbdbd;
  overflow: hidden;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
}

.epiInfo {
  margin-left: 12px;
  margin-top: auto;
  margin-bottom: auto;
}

.epiName {
  color: #828282;
  font-size: 11px;
}

.episode {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -0.41px;
  font-family: Montserrat;
  color: #081f32;
}

.epiDate {
  color: #828282;
  font-size: 11px;
}

.personageTabs {
  margin-top: 18px;
  margin-left: 22px;
  display: flex;
  flex-wrap: wrap;
}

.infoStar {
  background: #f2f2f2;
  border: 3px solid #ffffff;
  border-radius: 50%;
  position: relative;
  top: -20px;
  width: 30px;
  height: 30px;
  align-self: center;
  display: flex;
  justify-content: center;
}

.infoStarImg {
  margin-top: 5px;
}

.compartir {
  width: full;
  margin-top: 50px;
  margin-bottom: 37px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.compButtn {
  padding-top: 0px;
  width: 204px;
  height: 44px;

  margin-right: 20px;

  background: #11555f;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: lighter;
  font-size: 18px;

  color: #ffffff;
}

.pagination {
  width: 100%;
}

.paginConteiner {
  margin: 40px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.linkBar {
  position: relative;
  z-index: +1;
  background: #bdbdbd;
  width: 169px;
  height: 140px;
}
