.cardBorder {
  box-sizing: border-box;
  position: relative;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  width: 326px;
  height: 140px;
  display: flex;
  overflow: hidden;
  cursor: pointer;
}

.starButton {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background: radial-gradient(circle, #fff 60%, rgba(255, 255, 255, 0) 100%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #828282;
}

.starSelected {
  color: #f2994a;
}

.charImage {
  position: relative;
}

.charDetails {
  width: 100%;
  padding: 10px 12px;
  text-align: left;
}

.rowLine {
  display: flex;
  flex-wrap: wrap;
  word-break: break-word;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
  font-weight: 400;
  color: #000;
  margin-bottom: 5px;
}

.sphereStatus {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #27ae60;
}

.sphereDead {
  background-color: #eb5757;
}

.textStatus {
  padding-left: 6px;
  font-size: 10px;
  color: #4f4f4f;
}

.textLocation {
  margin: 0;
  font-size: 10px;
  font-weight: 400;
  color: #828282;
  width: 100%;
}

.charName {
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
