.header_background {
  height: 455px;
  background: url('../../assets/welcom-background.webp') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search_block {
  position: relative;
}

.search_input {
  width: 500px;
  height: 60px;
  background: #081f32;
  border: 2px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 18px;
  padding-left: 64px;
  color: #fff;
  outline: none;
  transition: border-color 0.2s;

  &::placeholder {
    color: #bdbdbd;
  }

  &:hover {
    border-color: #34c759;
  }

  &:focus-visible {
    border-color: #34c759;
    box-shadow: 0 0 0 2px rgba(52, 199, 89, 0.3);
  }

  &::-webkit-search-cancel-button {
    display: none;
  }
}

.search_icon {
  position: absolute;
  top: 16px;
  left: 15px;
  color: #bdbdbd;
}

.filtros {
  color: #bdbdbd;
}

.toggleFilter {
  border: 0;
  background: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 15px;
}

.dropDown {
  position: absolute;
  top: 0;
  right: -140px;
  background: #f2f2f2;
  border: 1px solid #bdbdbd;
  border-radius: 6px;
  padding: 10px;

  label {
    display: block;
    cursor: pointer;
  }
}

.enabledFiltros {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  background: #f2f2f2;
  border: 1px solid #bdbdbd;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  gap: 4px;
  align-items: baseline;
  color: rgba(52, 199, 89, 1);
  font-weight: 600;

  span {
    font-weight: 400;
    color: black;
  }
}
