.noDataContainer {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 0 0 40px;
}

.detailsLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: max-content;
  padding-bottom: 200px;
  z-index: 1;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.54);
  overflow: scroll;
}

.containerDetails {
  position: relative;
  margin-top: 295px;
  width: 740px;
  height: fit-content;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.infoPrimary {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 400px;
  width: 100%;
  background: #f2f2f2;
}

.bgImg {
  background: url('src/image/27345-rick-y-morty.jpg') no-repeat top center, #f2f2f2;
  display: flex;
  flex-direction: column;
}

.closet {
  align-self: flex-end;
  z-index: 2;
  background: transparent;
  cursor: pointer;
  border: none;
  color: #fff;
}

.infoBasic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 75px;
  width: 100%;
  height: 300px;
}

.infoImg {
  width: 155px;
  border: 4px solid #fffbfb;
  border-radius: 50%;
  overflow: hidden;
  align-self: center;
}

.charIm {
  width: 100%;
  height: 100%;
}

.status {
  font-size: 12px;
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
}

.infoStar {
  background: #f2f2f2;
  border: 3px solid #fff;
  border-radius: 50%;
  position: relative;
  top: -20px;
  width: 30px;
  height: 30px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.starFav {
  margin-top: 2px;
  color: #828282;
}

.starSelected {
  color: #f2994a;
}

.compartir {
  width: 100%;
  padding: 50px 20px 37px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  button {
    width: 204px;
    height: 44px;
    background: #11555f;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
  }
}

.infoText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -15px;
}

.name {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 20px;
  color: #081f32;
}

.ifoSvg {
  margin-left: 12px;
  margin-top: 8px;
}

.tabs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  padding: 0 20px;
}

.infoTab {
  background: #fff;
  border-radius: 8px;
  width: 163px;
  height: 58px;
  border: 1px solid #bdbdbd;
  overflow: hidden;
}

.titleInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 4px;
}

.infoTabText {
  margin-left: 4px;
  margin-top: 10px;
  font-size: 11px;
  letter-spacing: 0.07px;
  color: #828282;
}

.favoText {
  margin-right: 12px;
  font-size: 14px;
}

.informacion {
  margin-top: 20px;
  height: 100%;
  width: 100%;
}

.episodes {
  height: 100%;
  width: 100%;
}

.textStyle {
  margin-left: 25px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #4f4f4f;
}

.infoTabTextDetails {
  font-weight: 600;
  font-size: 14px;
  margin-left: 14px;
  color: #081f32;
}

.borderLine {
  border-bottom: 1px solid #e0e0e0;
  margin: 25px auto 15px;
  width: 670px;
}

.episodeTabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
}

.infEpisoTab {
  background: #fff;
  border-radius: 8px;
  width: 163px;
  height: 72px;
  border: 1px solid #bdbdbd;
  overflow: hidden;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
}

.epiInfo {
  margin-left: 12px;
  margin-top: auto;
  margin-bottom: auto;
}

.epiName {
  color: #828282;
  font-size: 11px;
}

.episode {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -0.41px;
  color: #081f32;
}

.epiDate {
  color: #828282;
  font-size: 11px;
}

.personageTabs {
  margin-top: 18px;
  margin-left: 22px;
  display: flex;
  flex-wrap: wrap;
}
