.header_background {
  height: 455px;
  background: url('../image/welcom-background.png') no-repeat center center;
  background-size: cover;
}

.header_overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo_rickmorty {
  width: 347px;
  height: 122px;
  background: url('../image/rick-and-morty.png');
  background-size: cover;
}

.search_block {
  position: relative;
}

.search_input {
  width: 500px;
  height: 60px;
  background: #081f32;
  border: 2px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 18px;
  padding-left: 64px;
  color: #fff;
}

.search_icon {
  position: absolute;
  left: 0;
  margin-left: 15px;
  margin-top: 16px;
  color: #bdbdbd;
}

.filtros {
  position: absolute;
  right: 0;
  margin-right: 15px;
  margin-top: 16px;
  color: #bdbdbd;
}

.navigate {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #bdbdbd;
  background: #f2f2f2;

  a {
    text-decoration: none;
  }
}

.buttn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  width: 162px;
  height: 80px;
  cursor: pointer;
}

.buttnHover {
  display: flex;
  align-items: center;
  border: 0;
  justify-content: center;
  width: 162px;
  height: 80px;
  border-bottom: 3px solid #34c759;
}

.buttn:hover {
  border-bottom: 3px solid #c2edcd;
}
