.noDataContainer {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 0 0 40px;
}

.personajes {
  width: 100%;
}

.textStyle {
  margin-left: 25px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #4f4f4f;
}

.personageTabs {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
