.background_layer {
  background: #081f32;
}

.background {
  width: 100vw;
  height: 100vh;

  background: url(../src/image/portal-morty-smith-rick.png) no-repeat top center;
}

.overlay_layer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.7);
}

.horizontal {
  width: 135px;
  height: 50px;

  background: url(../src/image/Horizontal.png);
}

.rickandmorty {
  width: 664px;
  height: 233px;

  background: url(../src/image/rick-and-morty.png);
  background-size: cover;
}

.bien {
  width: 872px;
  height: 53px;
  margin: 20px 0px 0px 0px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  text-align: center;

  color: #ffffff;
}

.en {
  width: 872px;
  height: 62px;
  margin: 10px 0px 0px 0px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  color: #ffffff;
}

.btn {
  width: 120px;
  height: 44px;
  margin: 40px 0px 0px 0px;

  background: #11555f;
  border-radius: 60px;
}

.btn:hover {
  background: #081f32;
}

.continuar {
  display: flex;
  flex-direction: row;
  align-items: center;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  color: #ffffff;
}

.header {
  background: #081f32;
}

.header_background {
  height: 455px;

  background: url(../src/image/portal-morty-smith-rick.png) no-repeat top center;
}

.header_overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.7);
}

.logo_rickmorty {
  width: 347px;
  height: 122px;

  background: url(../src/image/rick-and-morty.png);
  background-size: cover;
}

.search_block {
  position: relative;
  width: 500px;
  height: 60px;
}

.search_input {
  width: 500px;
  height: 60px;
  background: #081f32;
  border: 2px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 18px;
  padding-left: 64px;
  color: #ffffff;
}

.search_icon {
  position: absolute;
  left: 0px;
  margin-left: 15px;
  margin-top: 16px;
  background: transparent;
}

.navigate {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #bdbdbd;
  background: #f2f2f2;
}

.buttn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
  width: 162px;
  height: 80px;
}

.buttnHover {
  display: flex;
  align-items: center;
  border: 0px;
  justify-content: center;
  width: 162px;
  height: 80px;
  border-bottom: 3px solid #34c759;
}

.buttn:hover {
  border-bottom: 3px solid #c2edcd;
}

.footer {
  height: 142px;

  background: #081f32;
}

.horizontal {
  width: 100%;
  height: 100%;

  background: url(../src/image/portal-morty-smith-rick.png) no-repeat top center;
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.7);
}

.suazo {
  width: 135px;
  height: 50px;
  /* margin: auto; */

  background-image: url(../src/image/Horizontal.png);
}

.favorites {
  height: 98px;
  display: flex;
  align-items: center;
}

.favoText {
}

.body {
}

.charcardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: space-between;
  display: flex;
  align-items: center;
}

.cardContainer {
  padding: 0px 150px;
  padding-bottom: 58px;
}

.cardBorder {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 10px;
  width: 326px;
  height: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.charImage {
  width: 140px;
  height: 140px;
}

.charImg {
  width: 140px;
  height: 140px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
